<div class="wrapper-home py-3">
  <div class="container">
    <div class="container-resume">

      <div class="row align-items-center mx-3 py-2 bor-bot">
        <div class="portfolio-title col-sm-3">
          <h2><a href="https://www.pregnant-in-berlin.com/" target="_blank">Pregnant in Berlin</a></h2>
        </div>
        <div class="portfolio-desc col-sm-6">
          <p><em>Pregnant in Berlin</em> aims at helping expecting parents navigating through the German system. It also offers a <em>Kita Finder</em> that organises the search for a kindergarten spot.</p>
          <p><a href="https://www.pregnant-in-berlin.com/" target="_blank"><i class="fas fa-arrow-alt-circle-right"></i> Go to <strong>Pregnant in Berlin</strong></a></p>
        </div>
        <div class="portfolio-img col-sm-3">

          <div id="pibCarousel" class="carousel slide justify-content-center" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a title="Home page"><%= image_tag "pib-home.png", alt: "Home page", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Kita Map">
                  <%= image_tag "pib-map.png", alt: "Kita Map", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Kita contacts"><%= image_tag "pib-contacts.png", alt: "Kita contacts", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Kita page"> <%= image_tag "pib-kita.png", alt: "Kita page", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Kita article"> <%= image_tag "pib-kitasystem.png", alt: "Kita article", width: "230px", class: "img-responsive center-block" %></a>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#pibCarousel" role="button" data-slide="prev">
              <span class="fas fa-arrow-alt-circle-left" style="color:grey" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#pibCarousel" role="button" data-slide="next">
              <span class="fas fa-arrow-alt-circle-right" style="color:grey" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
      </div>

      <div class="row align-items-center mx-3 py-2 bor-bot">
        <div class="portfolio-title col-sm-3">
          <h2><a href="https://www.digital-pub.live/" target="_blank">Digital Pub</a></h2>
        </div>
        <div class="portfolio-desc col-sm-6">
          <p>The <em>Digital Pub</em> is a platform where football fans from all around the world can discuss about live games.</p>
          <p><a href="https://www.digital-pub.live/" target="_blank"><i class="fas fa-arrow-alt-circle-right"></i> Go to the <strong>Digital Pub</strong></a></p>
        </div>
        <div class="portfolio-img col-sm-3">

          <div id="dpubCarousel" class="carousel slide justify-content-center" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a title="Home page"><%= image_tag "dp-home.png", alt: "Home page", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Home page when logged in">
                  <%= image_tag "dpub-home_login.png", alt: "Home page when logged in", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Favorite teams"><%= image_tag "dpub-fav.png", alt: "Favorite teams", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Tables"> <%= image_tag "dpub-tab.png", alt: "Tables", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Chat"> <%= image_tag "dpub-chat.png", alt: "Chat", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="About page"> <%= image_tag "dpub-about.png", alt: "About page", width: "230px", class: "img-responsive center-block" %></a>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#dpubCarousel" role="button" data-slide="prev">
              <span class="fas fa-arrow-alt-circle-left" style="color:grey" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#dpubCarousel" role="button" data-slide="next">
              <span class="fas fa-arrow-alt-circle-right" style="color:grey" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
      </div>

      <div class="row align-items-center mx-3 py-2">
        <div class="portfolio-title col-sm-3">
          <h2><a href="https://sportify-tococorocko.herokuapp.com/" target="_blank">Sportify</a></h2>
        </div>
        <div class="portfolio-desc col-sm-6">
          <p><em>Sportify</em> allows users to rent sport fields wherever and whenever they want. They can also offer their own sport fields to be rent.</p>
          <p><a href="https://sportify-tococorocko.herokuapp.com/" target="_blank"><i class="fas fa-arrow-alt-circle-right"></i> Go to <strong>Sportify</strong></a></p>
        </div>
        <div class="portfolio-img col-sm-3">

          <div id="sportifyCarousel" class="carousel slide justify-content-center" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a title="Home page"><%= image_tag "sportify-home.jpg", alt: "Home page", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Home page"><%= image_tag "sportify-home2.png", alt: "Home page", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Show page of a field"><%= image_tag "sportify-show.png", alt: "Show page of a field", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Booking a field"> <%= image_tag "sportify-book.png", alt: "Booking a field", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Status of current bookings"> <%= image_tag "sportify-status.png", alt: "Status of current bookings", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="My fields"> <%= image_tag "sportify-fields.png", alt: "My fields", width: "230px", class: "img-responsive center-block" %></a>
              </div>

              <div class="carousel-item">
                <a title="Accepting/refusing a pending booking"> <%= image_tag "sportify-changestatus.png", alt: "Accepting/refusing a pending booking", width: "230px", class: "img-responsive center-block" %></a>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#sportifyCarousel" role="button" data-slide="prev">
              <span class="fas fa-arrow-alt-circle-left" style="color:grey" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#sportifyCarousel" role="button" data-slide="next">
              <span class="fas fa-arrow-alt-circle-right" style="color:grey" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
